*{
    margin: 0px;
    padding: 0px;
    font-family:sans-serif;
    box-sizing: border-box;
}

body{
    background: #080808;
    color: white;

}
/* Header..................... */
#header{
    width: 100%;
    height:100vh;
    background-image:url('resources/background.png');
    background-size: cover;
    background-position: center;
}
