body{
    background-color: darkgrey;
    background-image: url("C:/Users/JK.tech/OneDrive/Desktop/frontend practise/resources/window view.jfif");
    background-repeat: no-repeat;
}
h1{
    color: crimson;
    padding-left:  400px;

    
    
    
}