<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="header">
        <div class="container">

            <nav id="sidemenu">
                <img src="/app_folder/public/resources/logo1.jpg" class="logo">
                <ul>
                    <li><a href="#header">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#contact">contact</a></li>
                    <i class="fa-solid fa-square-xmark icon" onclick="closemenu"></i>
                </ul>
                <i class="fa-solid fa-bars icon" onclick="openmenu"></i>
            </nav>
            <div class="header_text">
                <p>Web Developer</p>
                <h1>Hi,I'm <span>Asad Bashir</span><br> From Pakistan.</h1>
            </div>
        </div>
    </div>
</body>
</html>