.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit,minmax(200px,200px));
    justify-content: center;
    align-items: center;
}
.box{
    border: 2px solid brown;
    /* background-color: aqua; */
    padding: 50px;
    margin:5px 5px;
}
.box{
    background-image: url('laptop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}