.main_box{
    display: flex;
    align-items: center;
    justify-content: center;
}
#box{
    background-color: aqua;
    height: 100px;
    width: 700px;
    text-align: center;
    color: red;
    font-size: 2.5rem;
    font-weight: bold;
}
